@import url("media.css");

@font-face {
    font-family: "Mulish";
    src: url("../fonts/Mulish/static/Mulish-Regular.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

ul {
    list-style-type: none;
}

html {
    font-size: 16px;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(../img/great-britain-main.jpg) no-repeat center/cover;
}

body {
    background: rgba(255, 255, 255);
    width: 1200px;
    margin: 0 auto;
}

.container {
    width: 100%;
    text-align: left;
}

/* === header === */
.header {
    background: #000;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    min-height: 4rem;
    position: relative;
}

.header__name {
    display: block;
    float: left;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}

.header__nav {
    display: block;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__nav>nav>ul>li {
    display: inline-block;
    padding: 0 15px;
}

.header__nav>nav>ul>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header__nav>nav>ul>li>.header__nav_active {
    color: #D00C27;
}

/* === main === */
.main {
    min-height: 100%;
    width: 100%;
    padding-bottom: 4rem;
}

.main>.row {
    width: 100%;
}

.main>.row>h1 {
    color: #D00C27;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #001F7E;
    padding: 1rem;
}

.main__row-name {
    height: 15rem;
}

.main>.row::after {
    display: block;
    content: "";
    clear: both;
}

.main__logo {
    height: 100%;
    text-align: center;
}

.main__logo img {
    width: 200px;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main__slogan {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.main__card {
    display: block;
    height: 100%;
    text-align: center;
    border-right: 1px solid #001F7E;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(#001F7E 0%, #FAFAFA 30% 70%, #D00C27 100%);
}

.main__row-card>.main__card:last-child {
    border: none;
}

.main__card>h2 {
    text-transform: uppercase;
    padding-bottom: 1rem;
    color: #D00C27;
    text-shadow: 1px 1px 1px #000;
}

.col {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.333333%;
}

.col-3 {
    width: 25%;
}

.main__row_blue {
    background: #001F7E;
    color: #D00C27;
}

.main__row_white {
    background: #FAFAFA;
}

.main__row_red {
    background: #D00C27;
}

.main__form-title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline;
    height: 100%;
    color: #FAFAFA;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.task>h2 {
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: #D00C27;
    text-decoration: underline;
}

.task>p {
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: #000;
}

.task__card {
    perspective: 1000px;
    width: 25%;
    height: 300px;
    margin: 5px 0px;
    display: block;
    float: left;
}

.card {
    position: relative;
    cursor: pointer;
    height: 300px;
    transition: 1s;
    transform-style: preserve-3d;
}

.task__card:hover .card {
    transform: rotateY(180deg);
}

.card_face {
    width: 290px;
    height: 300px;
    overflow: hidden;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border: 2px solid #001F7E;
    margin: 0px 5px;
    border-radius: 20px;
}

.card_face .card__photo {
    text-align: center;
}

.card_face .card__photo img {
    object-fit: contain;
    height: 50%;
    max-width: 250px;
}

.card_face .card__word {
    text-align: center;
    color: #001F7E;
    font-weight: bold;
    font-size: 2rem;
}

.card_face .card__transcr {
    text-align: center;
    color: #001F7E;
    font-style: italic;
    padding-top: 1rem;
}

.card_back {
    background: radial-gradient(#000,#fff);
    font-size: 2rem;
    color: #D00C27;
    text-transform: uppercase;
    font-weight: bold;
    width: 290px;
    height: 300px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border: 2px solid #001F7E;
    border-radius: 20px;
    margin: 0px 5px;
}

.card_back .answer {
    display: inline-block;
    height: 100%;
}

.card_back .answer p {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/* form */

.main__form {
    display: table;
    width: 100%;
    padding-bottom: 2rem;
}

.main__form>.form__row {
    display: table-row;
}

.form__cell {
    display: table-cell;
    width: 50%;
    padding: 5px 10px;
    font-weight: bold;
}

.form__cell_left {
    text-align: left;
}

.form__cell_right {
    text-align: right;
}

.form__button {
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

input[type="submit"]:hover {
    outline: 2px solid #001F7E;
}

input[type="reset"]:hover {
    outline: 2px solid red;
}

/* === ==== === */

/* === footer === */
.footer {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    min-height: 4rem;
    margin-top: -4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.footer>.container {
    padding-top: 10px;
}

.footer__contact {
    display: block;
    float: left;
    text-align: center;
    margin-left: 20px;
}

.footer__contact>ul {
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;

}

.footer__contact>ul>li {
    display: inline-block;
    padding: 0 10px;
}

.footer__contact>ul>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer__contact>ul>li>a:hover {
    color: rgb(255, 0, 0);
}

.footer__name {
    display: block;
    float: right;
    margin-right: 20px;
    text-align: center;
}

.footer__name>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer__name>a:hover {
    color: rgb(255, 0, 0);
}

.footer>.container::after {
    display: block;
    content: "";
    clear: both;
}

.footer__date {
    text-align: center;
    padding-bottom: 1rem;
}